  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.transparentGrid{
    background-image: url("/static/pngBackground.svg");
    background-repeat: repeat;
    background-size: 25px;
}

.dropdown{
    border-style: dotted !important;
}

.dropdown:hover{
    background-color: rgb(231, 240, 255);
}