{% extends 'base.html'%}

{% block body %}

<div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="{{filepath}}" id="imagePreview" class="rounded transparentGrid d-block mx-lg-auto img-fluid" style="max-height: 500; max-width: 100%;"></img>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">
            <img src="/static/bulb.svg" alt="" height="50">
            Here is your result!
        </h1>
        <p class="lead"> 
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg px-4 me-md-2" role="button" href="{{filepath}}"download="proposed_file_name">Download</a>
            <a class="btn btn-primary btn-lg px-4 me-md-2" role="button" href="/">Start over</a>
        </div>
      </div>
    </div>
  </div>



<style>
    .transparentGrid{
        background-image: url("/static/pngBackground.svg");
        background-repeat: repeat;
        background-size: 25px;
    }
</style>
{% endblock body %}